{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Current stock</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Stock</th>
                <th scope="col">Shares</th>
                <th scope="col">Price Bought</th>
                <th scope="col">Current value</th>
                <th scope="col">Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in history %}
                {% if item['sold'] == 0 %}
                    <tr>
                        <th>{{ item['stock_symbol'] }}</th> 
                        <th>{{ item['shares'] }}</th>
                        <th>{{ item['price_bought']| usd }}</th>
                        <th>{{ item['current_price'] | usd }}</th>
                        <th>{{ (item['current_price']*item['shares']) | usd }}</th>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <p>the current total value of your stocks is {{ total | usd }} and you have {{ cash | usd }} cash remaining in your account </p>
    <p>Your total assets is {{ (total + cash) | usd }}</p>
{% endblock %}
