{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Current stock</h1>
    <table>
        <tr>
            <th>Stock</th>
            <th>Shares</th>
            <th>Price Bought</th>
            <th>Current value</th>
            <th>Total Value</th>
        </tr>
        {% for item in history %}
            <tr>
                <th>{{ item['stock_symbol'] }}</th> 
                <th>{{ item['shares'] }}</th>
                <th>{{ item['price_bought'] }}</th>
                <th>{{ item['current_price'] }}</th>
                <th>{{ item['current_price']*item['shares']}}</th>
            </tr>
        {% endfor %}
    </table>
    <p>the current total value of your stock is {{ total }} and you have {{ cash }} remaining in your account </p>
    <p>Your total assets is {{ total + cash }}</p>
{% endblock %}
